---
import Layout from "../layouts/page.astro";
---

<Layout>
	<p>This is the about page.</p>
	<p>
		I <del>lerned</del>
		<ins>learned</ins> about the tags <b>del</b> and <b>ins</b> today.
	</p>

	<p>Test with HTML Code: &#10140;</p>
	<p>Here a trash can: &#128465;</p>
	<p>Watch: &#8986;</p>
	<p class="text-2xl text-red-500">Soccer ball: &#9917;</p>

	<p class="mt-6">
		<b>Without a dependency</b> you can add many <b>simple arrows</b> in HTML.
		&rarr; like this
	</p>
	<p>
		Find a list of all arrows available <a
			href="https://www.toptal.com/designers/htmlarrows/arrows"
			class="underline">here</a
		>.
	</p>
	<p>You can also style these arrows.</p>
	<div
		class="bg-yellow-200 mt-3 p-3 rounded w-fit flex flex-col justify-center shadow-xl"
	>
		<p class="text-center text-5xl -mb-4">Like this</p>
		<p class="text-center text-red-600 text-9xl shadow-slate-950">&darr;</p>
		<img src="/images/styledarrow.png" class="rounded" />
	</div>
</Layout>
