---
import Layout from "../layouts/default.astro";
---

<Layout>
	<section class="hero-image p-6 flex justify-end">
		<div class="flex justify-start h-fit flex-col">
			<p class="text-[5vw] text-yellow-300 pr-6 text-center">Glad you're here!</p>
			<p class="text-[3vw] text-center">
				Check out our <a href="/shop" class="underline">shop</a>
			</p>
		</div>
	</section>
</Layout>
