---
import Layout from "../layouts/page.astro";
import Books from '../components/books.astro';
---

<Layout>
	<p class="intro">This page fetches data from an external API and external images.</p>
	<Books/>
</Layout>
